.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.nav-wrapper {
    padding-left: 250px;
}

.center-cols > .col {
    float:none; /* disable the float */
    display: inline-block; /* make blocks inline-block */
    text-align: initial; /* restore text-align to default */
}

.card {
    height: 400px;
    font-size: 20px;
}

.card.one {
    font-size: 20px;
    height: 450px;
}

.card.test_class {
    font-size: 50px;
    height: 120px;
}


.card-image{
    height: 400px;
    overflow: hidden;
}

body {
    background-color: white;
    display: flex;
    min-height: 100vh;
    flex-direction: column;

    
}

main {
    flex: 1 0 auto;
}
      
